<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Private stylesheet, loads last -->
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
  <title>Yahtzee</title>
</head>
<body class="h-100">
  <div class="main-container container d-flex flex-column h-100" role="main">
  {% include 'menu.html' %}